@page "/products/create"
@inject ApplicationDbContext context
@inject NavigationManager NavigationManager

<div class="col-sm-6">
    <h3>Create</h3>
    <EditForm Model = "product" OnValidSubmit="Save">

        <div class="from-group">
            <lavel>Product Name</lavel>
            <InputText @bind-Value="product.ProductName" class="form-control" > </InputText>
        </div>
        <div class="from-group">
            <lavel>Price</lavel>
            <InputNumber @bind-Value="product.Price" class="form-control"> </InputNumber>
        </div>
        <div class="from-group">
            <button type="submit" class="btn btn-primary">Create Product</button>
        </div>


    </EditForm>
</div>


@code {

    public Product product{ get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        product = new Product();
    }

    void Save()
    {
        context.Products.Add(product);
        context.SaveChanges();
        NavigationManager.NavigateTo("/products");
    }

}
